    body{
        margin: 1,3rem;
        padding: 1;
        font-family: cursive;
        font-weight: 400;
        background-color: rosybrown;
        text-align: center;
    }

    h1{
        margin: 50px;
        padding: 0rem;
        border-sizing: border-box;
        color: rgb(0, 0, 0);
    }

    h3{
        border: 2px solid black;
        background-color: rgb(150, 255, 255);
        margin: 10px;
        padding:0;
        box-sizing: border-box ;
    }
    
    img{
        border:2px black solid;
        padding:0;
    }
    button{
        padding:1.5rem;
        font-weight: 300;
        background-color: pink;
        border: 3px black solid;
    }
    p{
        font-size: 20px;
    }